<nav class="navbar navbar-expand-sm navbar-light bg-light" id="ejsNavbar">
    <a class="navbar-brand" href="/">ATN</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/News">News</a>
        <a class="nav-item nav-link" href="/Local">Local</a>
        <a class="nav-item nav-link" href="/Tech" tabindex="-1">Tech</a>
    </div>
</nav>